@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--very-dark-blue-main);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--very-dark-blue-card);
  max-width: 315px;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 15px;
  margin: 2rem 1rem;
}
.card-header {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.card-header-equilibrium {
  width: 100%;
  display: block;
}
.card-header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(178deg, 100%, 50%, 0.5);
  display: none;
}
.card-header-overlay-view {
  position: absolute;
  width: 50px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card-header:hover .card-header-overlay {
  display: block;
}
.card-body-title {
  font-size: 21px;
  color: var(--white);
  font-weight: 600;
  margin: 20px 0;
  display: inline-block;
}
.card-body-title:hover {
  color: var(--cyan);
  cursor: pointer;
}
.card-body-text {
  color: var(--soft-blue);
}
.card-body-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid var(--very-dark-blue);
}
.card-body-info-eth, .card-body-info-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-body-info-eth-text {
  color: var(--cyan);
  font-weight: 600;
  padding-left: 7px;
}
.card-body-info-days-text {
  padding-left: 7px;
  color: var(--soft-blue);
}
.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
.card-footer-avatar {
  width: 13%;
  border: 2px solid var(--white);
  border-radius: 50%;
  margin-right: 15px;
}
.card-footer p {
  color: var(--soft-blue);
  font-size: 16px;
}
.card-footer-name {
  color: var(--white);
}
.card-footer-name:hover {
  color: var(--cyan);
  cursor: pointer;
}